name: Build Docker image

on:
  push:
    branches:
      - "*"

env:
  VERSION: "v1.17.0-debian-1.0"
  PLUGIN_ELASTICSEARCH_VERSION: "5.4.3"
  PLUGIN_GCS_VERSION: "0.13.1"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
      - name: Build and push - elasticsearch
        uses: docker/build-push-action@v6
        with:
          file: "./Dockerfile.elasticsearch"
          platforms: linux/amd64,linux/arm64
          push: true
          tags: datacatering/fluentd-elasticsearch:${{ env.VERSION }}
          build-args: |
            FLUENTD_VERSION=${{ env.VERSION }}
            PLUGIN_ELASTICSEARCH_VERSION=${{ env.PLUGIN_ELASTICSEARCH_VERSION }}
