name: Get data catering docker hub stats each day

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Get docker hub stats via script
        run: bash script/docker-hub-stats.sh
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update docker hub stats
